PLINK=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/EXTERNALTOOLS/PLINK/plink-1.07-x86_64/plink
STRUCTURE=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/EXTERNALTOOLS/STRUCTURE/console/structure
STRUCTURE_PARAM=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/EXTERNALTOOLS/STRUCTURE/console/extraparams
SHAPEIT=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/EXTERNALTOOLS/SHAPEIT/shapeit.v1.ESHG.linux.x86_64
IMPUTE=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/EXTERNALTOOLS/IMPUTE/impute_v2.3.0_x86_64_static/impute2
CHECK_STRAND=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/EXTERNALTOOLS/CHECK_STRAND/check_strands_16May11/check_strands.py
GPROBS=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/EXTERNALTOOLS/GPROBS/gprobsmetrics.jar
PERL=/usr/local/biotools/perl/5.10.0/bin/perl
PYTHON=/usr/local/biotools/python/2.7/bin/python
JAVA=/usr/bin/java
QSUB=/home/sge6_2/bin/lx24-amd64/qsub
SH=/bin/bash
