PLINK=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/EXTERNALTOOLS/PLINK/plink-1.07-x86_64/plink
STRUCTURE=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/EXTERNALTOOLS/STRUCTURE/console/structure
STRUCTURE_PARAM=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/EXTERNALTOOLS/STRUCTURE/console/extraparams
SHAPEIT=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/EXTERNALTOOLS/SHAPEIT/shapeit.v2.r727.linux.x64
IMPUTE=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/EXTERNALTOOLS/IMPUTE/impute_v2.3.0_x86_64_static/impute2
CHECK_STRAND=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/EXTERNALTOOLS/CHECK_STRAND/check_strands_16May11/check_strands.py
GPROBS=/data5/bsi/RandD/Workflow/temp/hugues_test_shapeit/ezimputer/EXTERNALTOOLS/GPROBS/gprobsmetrics.jar
PERL=/usr/local/biotools/perl/5.10.0/bin/perl
PYTHON=/usr/local/biotools/python/2.7/bin/python
JAVA=/usr/bin/java
QSUB=/home/oge/ge2011.11/bin/linux-x64/qsub
SH=/bin/bash
