TPED=/data4/bsi/bioinf_int/s106381.borawork/naresh_scripts/PAPER/EasyImputer/SAMPLEFILES/INPUTDATA/sample_build37_filter.tped
TFAM=/data4/bsi/bioinf_int/s106381.borawork/naresh_scripts/PAPER/EasyImputer/SAMPLEFILES/INPUTDATA/sample_build37_filter.tfam
OUTPUT_FOLDER=/data4/bsi/bioinf_int/s106381.borawork/naresh_scripts/PAPER/EasyImputer/SAMPLEFILES/INPUTDATA
TEMP_FOLDER=/data4/bsi/bioinf_int/s106381.borawork/naresh_scripts/PAPER/EasyImputer/SAMPLEFILES/temp
IMPUTEREF_VERSION=ALL_1000G_phase1integrated_v3
GENOTYPE_PERCENT_CUTOFF=0.05
SAMPLE_PERCENT_CUTOFF=0.05
IMPUTE_REF=/data4/bsi/refdata/genetics/1000Genomes/downloaded_data/release/20110521/impute/ALL_1000G_phase1integrated_v3_impute
INNER_DIR=temp1070516921
BEAGLE_REF_DB=/data4/bsi/bioinf_int/s106381.borawork/naresh_scripts/PAPER/EasyImputer/SAMPLEFILES/BEAGLE/
