TPED=/data2/bsi/RandD/Arraybased_RND/tcga_genotyping/results/LGG/NORMAL/fwdStrandResults_all_merged_removeddup_normal_build37.tped
TFAM=/data2/bsi/RandD/Arraybased_RND/tcga_genotyping/results/LGG/NORMAL/fwdStrandResults_all_merged_removeddup_normal_build37.tfam
OUTPUT_FOLDER=/data2/bsi/RandD/Arraybased_RND/tcga_genotyping/results/LGG/NORMAL/temp_test_out
TEMP_FOLDER=/data2/bsi/RandD/Arraybased_RND/tcga_genotyping/results/LGG/NORMAL/temp_test
IMPUTEREF_VERSION=ALL_1000G_phase1integrated_v3
GENOTYPE_PERCENT_CUTOFF=0.05
SAMPLE_PERCENT_CUTOFF=0.05
IMPUTE_REF=/data4/bsi/refdata/genetics/1000Genomes/downloaded_data/release/20110521/impute/ALL_1000G_phase1integrated_v3_impute
INNER_DIR=temp1070516921
BEAGLE_REF_DB=/data4/bsi/bioinf_int/s106381.borawork/naresh_scripts/PAPER/EasyImputer/SAMPLEFILES/BEAGLE/
