TPED=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/examples/small_region_fwdStrandResults_input.tped.gz
TFAM=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/examples/small_region_fwdStrandResults_input.tfam
FORWARDSTRAND_IND=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/examples/fwdStrandResults_input.ind
TEMP_FOLDER=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/examples/temp
IMPUTE_REF=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/examples/impute_ref/ALL_1000G_phase1integrated_v3_impute
IMPUTE_WINDOW=5000000
IMPUTE_EDGE=125
HAPS=NA
EMAIL=******.****@**.com
SGE_SHAPEIT_MEM=10G
SGE_SHAPEIT_QUEUE=7-days
SGE_IMPUTE_MEM=10G
SGE_IMPUTE_QUEUE=1-day
IMPUTEREF_VERSION=ALL_1000G_phase1integrated_v3
LOCALTEMP_SHAPEIT=4G
LOCALTEMP_IMPUTE=1G
INNER_DIR=SMALL_REGION_IMPUTE
RESTART=NO
USERNAME=username
SHAPEITONLY=NO
LOCALTEMP=/data2/bsi/staff_analysis/m037385/ezimputer/ezimputer_code/examples/temp/LOCALTEMP
SHAPEIT_STATESPHASE=100
PBS=NO
CHR_START_INPUT=YES
SMALL_REGION_EXTN_START= 2000000
SMALL_REGION_EXTN_STOP= 2000000
WINDOW_CUTOFF_NUM_MARKERS=200
EDGE_CUTOFF_NUM_MARKERS=50
